Repository db-ui/core, pull requests merged in 2022-11, with the labels that each got.

#133 fix: issue deployment for releases and tags
  .github/actions/extract-branch/action.yml
Labels: bug, cicd

#139 refactor: correctly validate for default github created branch names
  package.json
Labels: enhancement, cicd

#146 refactor(radio): show invalid state
  source/_patterns/01-elements/radio/radio.hbs
  source/_patterns/01-elements/radio/radio~disabled-checked.json
  source/_patterns/01-elements/radio/radio~disabled.json
  source/_patterns/01-elements/radio/radio~invalid.json
Labels: enhancement, patterns

#147 fix(language-switcher): enhancing the possible languages
  source/_patterns/02-components/language-switcher/language-switcher.scss
Labels: bug, patterns

#159 refactor: simplify css build scripts
  package.json
Labels: improvement, cicd

#151 feat(icons): added docs for new icon size
  source/_patterns/00-base/icons/_icons.variables.scss
  source/_patterns/00-base/icons/icon-library~16-outline-action.json
  source/_patterns/00-base/icons/icon-library~16-outline-action.md
  source/_patterns/00-base/icons/icon-library~16-outline-navigation.json
  source/_patterns/00-base/icons/icon-library~16-outline-navigation.md
Labels: documentation, enhancement

#140 refactor: updated db-ui-base / DBUX-3 branch
  package-lock.json
  package.json
  source/_patterns/00-base/icons/_icons.helpers.scss
  source/_patterns/00-base/icons/icons.scss
  source/_patterns/01-elements/checkbox/checkbox.scss
  source/_patterns/01-elements/headline/_headline.variables.scss
  source/_patterns/01-elements/headline/enterprise/_headline.variables.scss
  source/_patterns/01-elements/headline/enterprise/headline.scss
  source/_patterns/01-elements/headline/headline.md
  source/_patterns/01-elements/headline/headline.scss
  source/_patterns/01-elements/input/input.scss
  source/_patterns/01-elements/radio/radio.scss
  source/_patterns/01-elements/select/select.scss
  source/_patterns/02-components/accordion/accordion.scss
  source/_patterns/02-components/cards/card.scss
  source/_patterns/02-components/dialog/dialog.scss
  source/_patterns/02-components/pagination/pagination.scss
  source/_patterns/02-components/table/_table.variables.scss
  source/css/_db-ui-core.variables.scss
  source/css/db-ui-core.general.scss
  source/css/db-ui-core.vars.scss
  source/css/enterprise/db-ui-core.demonstration.scss
  source/css/enterprise/db-ui-core.scss
  source/css/enterprise/db-ui-core.vars.scss
  source/css/pattern-scaffolding-project-specific.scss
Labels: improvement

#160 chore(docs): we need to provide different ID values in the same page
  source/_patterns/01-elements/loading-indicator/loading-indicator.hbs
  source/_patterns/01-elements/loading-indicator/loading-indicator.json
  source/_patterns/01-elements/loading-indicator/loading-indicator~size-XS.json
  source/_patterns/01-elements/loading-indicator/loading-indicator~size-l.json
  source/_patterns/01-elements/loading-indicator/loading-indicator~size-m.json
  source/_patterns/01-elements/loading-indicator/loading-indicator~size-s.json
  source/_patterns/01-elements/loading-indicator/loading-indicator~size-xl.json
Labels: bug, documentation

#162 refactor(stylelint): let's deactivate any ordering for now
  .stylelintrc.json
Labels: improvement

#167 refactor: optimized dependabot settings
  .github/dependabot.yml
Labels: enhancement, improvement, cicd

#170 refactor(stylelint): deactivated alphabetical-order
  .stylelintrc.json
Labels: improvement, test

#169 chore: template optimization
  source/_patterns/01-elements/radio/radio.hbs
Labels: improvement, patterns

#165 refactor(progress): replaced output by label due to a11y testing
  source/_patterns/01-elements/progress/progress.hbs
  source/_patterns/01-elements/progress/progress.json
  source/_patterns/01-elements/progress/progress.scss
  source/_patterns/01-elements/progress/progress~circular-loader-dark-background.json
  source/_patterns/01-elements/progress/progress~circular-loader.json
  source/_patterns/01-elements/progress/progress~dark-background.json
  source/_patterns/01-elements/progress/progress~linear-spinner-indeterminate.json
  source/_patterns/01-elements/progress/progress~linear-spinner.json
Labels: improvement, patterns, accessibility

#14 refactor: testing
  .github/workflows/01-test.yml
  .htmlvalidate.json
  .pa11yci
  .prettierignore
  .stylelintrc.json
  .vscode/extensions.json
  package-lock.json
  package.json
  source/_patterns/00-base/colors/eds-colors.hbs
  source/_patterns/00-base/colors/feedback.hbs
  source/_patterns/00-base/colors/poi.hbs
  source/_patterns/00-base/colors/primary.hbs
  source/_patterns/00-base/colors/secondary.hbs
  source/_patterns/00-base/colors/semantic-color-codes.hbs
  source/_patterns/00-base/colors/transportation.hbs
  source/_patterns/00-base/icons/enterprise/_icons.variables.scss
  source/_patterns/00-base/icons/illustration-icons.hbs
  source/_patterns/00-base/icons/illustration-icons.md
  source/_patterns/00-base/type/_fonts.scss
  source/_patterns/01-elements/buttons/09-button-sizes.hbs
  source/_patterns/01-elements/chips/_chip.hbs
  source/_patterns/01-elements/chips/chips.hbs
  source/_patterns/01-elements/image/enterprise/_image.variables.scss
  source/_patterns/01-elements/input/_input.md
  source/_patterns/01-elements/input/input.hbs
  source/_patterns/01-elements/progress/progress.hbs
  source/_patterns/01-elements/select/select.scss
  source/_patterns/01-elements/tags/tags.hbs
  source/_patterns/02-components/accordion/accordion-sizes.hbs
  source/_patterns/02-components/brand/enterprise/_brand.variables.scss
  source/_patterns/02-components/cards/_card.hbs
  source/_patterns/02-components/dialog/dialog.hbs
  source/_patterns/02-components/language-switcher/language-switcher.hbs
  source/_patterns/02-components/overflow-menu/overflow-menu.hbs
  source/_patterns/02-components/pagination/pagination.hbs
  source/_patterns/02-components/table/table.hbs
  source/_patterns/03-areas/00-header/enterprise/_meta.variables.scss
  source/_patterns/03-areas/enterprise/_areas.variables.scss
  source/_patterns/04-pages/intro.hbs
  source/_patterns/04-pages/intro.json
Labels: improvement, cicd, patterns, test

#172 refactor(dependabot): removed incorrect config
  .github/dependabot.yml
Labels: cicd

#179 refactor: removed deprecated items
  docs/migrationGuide.adoc
  source/css/enterprise/db-ui-core-include.scss
  source/css/enterprise/db-ui-core-rollup.scss
  source/css/enterprise/db-ui-core-webpack.scss
Labels: improvement

#183 refactor(progress): made those necessary leftover changes
  docs/migrationGuide.adoc
  source/_patterns/01-elements/progress/enterprise/_progress.demonstration.scss
Labels: patterns

#171 feat(logo): integrate sizes and related pulse as an option for headlines
  source/_patterns/01-elements/headline/_headline.hbs
  source/_patterns/01-elements/headline/_headline.md
  source/_patterns/01-elements/headline/headline-pulse.hbs
  source/_patterns/01-elements/headline/headline-pulse.json
  source/_patterns/01-elements/headline/headline.hbs
  source/_patterns/01-elements/headline/headline.json
  source/_patterns/01-elements/headline/headline.md
  source/_patterns/01-elements/headline/headline.scss
  source/_patterns/01-elements/logo/_logo.demonstration.scss
  source/_patterns/01-elements/logo/_logo.md
  source/_patterns/01-elements/logo/_logo.variables.scss
  source/_patterns/01-elements/logo/logo-on-backgrounds.hbs
  source/_patterns/01-elements/logo/logo-on-backgrounds.json
  source/_patterns/01-elements/logo/logo-sizes.hbs
  source/_patterns/01-elements/logo/logo-sizes.json
  source/_patterns/01-elements/logo/logo-with-following-headline.hbs
  source/_patterns/01-elements/logo/logo.hbs
  source/_patterns/01-elements/logo/logo.scss
  source/css/_db-ui-core.variables.scss
  source/css/enterprise/db-ui-core.demonstration.scss
  source/css/enterprise/db-ui-core.scss
  source/images/db_logo.svg
Labels: enhancement, improvement, patterns, community feedback

#187 refactor: added further font faces
  source/_patterns/00-base/type/_fonts.variables.scss
Labels: enhancement, patterns, community feedback

#189 chore: removed duplicated testcase URL
  .pa11yci
Labels: test

#204 refactor: updated DB UI Base
  package-lock.json
  package.json
  source/_patterns/01-elements/checkbox/checkbox.scss
  source/_patterns/01-elements/input/input.scss
  source/_patterns/01-elements/radio/radio.scss
  source/_patterns/01-elements/select/select.scss
  source/_patterns/02-components/accordion/accordion.scss
  source/_patterns/02-components/cards/card.scss
  source/_patterns/02-components/table/_table.variables.scss
Labels: dependencies, patch
