Repository db-ui/core, pull requests merged in 2022-12, with the labels that each got.

#196 fix(cards): a11y color contrast problem
  .pa11yci
Labels: bug, patterns

#192 refactor: aligned code styles through projects
  .eslintrc.js
  .prettierrc.json
Labels: improvement

#207 feat(test): added VS Code plugin suggestion
  .vscode/extensions.json
Labels: improvement

#213 refactor: further aligned code style
  .editorconfig
Labels: enhancement

#211 fix(dependabot): skip deploy step
  .github/workflows/default.yml
Labels: cicd

#225 refactor(ci/cd): better sync the update timeframes
  .github/dependabot.yml
  .github/workflows/auto-update.yml
Labels: cicd

#198 refactor: guidelines 3.0 input style
  docs/migrationGuide.adoc
  helpers/unique-id.js
  source/_patterns/01-elements/_form-element.scss
  source/_patterns/01-elements/_form-elements.scss
  source/_patterns/01-elements/_form-elements.variables.scss
  source/_patterns/01-elements/input/_input.variables.scss
  source/_patterns/01-elements/input/input-sizes.hbs
  source/_patterns/01-elements/input/input-sizes.json
  source/_patterns/01-elements/input/input-sizes.md
  source/_patterns/01-elements/input/input-variations.hbs
  source/_patterns/01-elements/input/input-variations.json
  source/_patterns/01-elements/input/input.demonstration.scss
  source/_patterns/01-elements/input/input.hbs
  source/_patterns/01-elements/input/input.scss
  source/_patterns/01-elements/input/input~date.json
  source/_patterns/01-elements/input/input~date.md
  source/_patterns/01-elements/input/input~icon.json
  source/_patterns/01-elements/input/input~icon.md
  source/_patterns/01-elements/select/select.scss
  source/_patterns/01-elements/textarea/textarea.scss
  source/css/pattern-scaffolding-project-specific.scss
  tests/backstop.json
Labels: enhancement
