Repository db-ui/core, pull requests merged in 2022-09, with the labels that each got.

#20 refactor: updated xo and overwritten subdependency version
  package-lock.json
  package.json
Labels: improvement

#22 refactor: added pre-commit tests
  .env.template
  .gitignore
  .husky/pre-commit
  .prettierrc.json
  CONTRIBUTING.md
  package-lock.json
  package.json
  scripts/check-commit-mail.mjs
Labels: enhancement

#18 refactor(codeowners): added Anna & Duncan
  CODEOWNERS
Labels: improvement

#24 refactor: we'd mainly like to use the single quote for JS files
  .prettierrc.json
Labels: improvement

#16 refactor: splitted up those declarations for easier consumption
  source/css/_fonts.general.scss
  source/css/db-ui-core.general.scss
Labels: improvement

#35 fix: JS plugin filename
  enterprise.patternlab-config.json
Labels: bug

#45 refactor(brand): added font related declarations for site name
  source/_patterns/02-components/brand/brand.scss
Labels: improvement, patterns

#44 fix: added missing dependency to fix the release pipeline
  .github/scripts/package-version.sh
  package-lock.json
  package.json
Labels: bug, cicd

#60 refactor: let's release to npm
  .github/scripts/publish-npm.sh
Labels: improvement, cicd

#51 refactor: increase the limit of PRs being opened by dependabot in parallel
  .github/dependabot.yml
Labels: cicd

#10 feat: added loading indicator (circular spinner)
  .pa11yci
  CHANGELOG.md
  source/_patterns/01-elements/loading-indicator/_loading-indicator.md
  source/_patterns/01-elements/loading-indicator/_loading-indicator.variables.scss
  source/_patterns/01-elements/loading-indicator/loading-indicator.hbs
  source/_patterns/01-elements/loading-indicator/loading-indicator.json
  source/_patterns/01-elements/loading-indicator/loading-indicator.scss
  source/_patterns/01-elements/loading-indicator/loading-indicator~size-S.md
  source/_patterns/01-elements/loading-indicator/loading-indicator~size-XS.json
  source/_patterns/01-elements/loading-indicator/loading-indicator~size-XS.md
  source/_patterns/01-elements/loading-indicator/loading-indicator~size-l.json
  source/_patterns/01-elements/loading-indicator/loading-indicator~size-l.md
  source/_patterns/01-elements/loading-indicator/loading-indicator~size-m.json
  source/_patterns/01-elements/loading-indicator/loading-indicator~size-m.md
  source/_patterns/01-elements/loading-indicator/loading-indicator~size-s.json
  source/_patterns/01-elements/loading-indicator/loading-indicator~size-xl.json
  source/_patterns/01-elements/loading-indicator/loading-indicator~size-xl.md
  source/css/enterprise/db-ui-core.scss
  tests/backstop.json
Labels: patterns
