Repository db-ui/core, pull requests merged in 2022-10, with the labels that each got.

#78 chore: typo
  source/_patterns/01-elements/buttons/_buttons.md
Labels: improvement, patterns

#66 refactor: not pinning CI/CD dependencies
  .github/workflows/99-auto-merge.yml
Labels: improvement, cicd

#27 feat: add auto update for v3 branch
  .github/scripts/auto-update-pr.js
  .github/workflows/99-auto-update-pr.yml
  .github/workflows/auto-update.yml
Labels: improvement, cicd

#80 fix(accordion): replaced height by paddings
  source/_patterns/02-components/accordion/accordion.scss
Labels: bug, patterns

#87 docs(icons): optimized example
  source/_patterns/00-base/icons/_icons.md
Labels: patterns

#91 ci: 🎡 Update styfle/cancel-workflow-action@0.11.0
  .github/workflows/00-init.yml
Labels: cicd

#93 chore: removed overwrite obsolete entry
  package-lock.json
  package.json
Labels: improvement

#98 docs: release 2.0.0 changelog and announced release page documentatio…
  CHANGELOG.md
Labels: documentation

#79 refactor: added unordered list-item styling
  source/_patterns/00-base/_init.scss
Labels: improvement, patterns

#23 refactor: headlines (Guidelines 2.0)
  source/_patterns/00-base/type/_fonts.variables.scss
  source/_patterns/01-elements/headline/_headline.variables.scss
  source/_patterns/01-elements/headline/headline.scss
Labels: improvement, patterns

#100 feat: added code and text spell checker
  .vscode/extensions.json
Labels: enhancement

#103 feat: add checks-done job
  .github/workflows/default.yml
Labels: enhancement, cicd

#105 chore: let's make checks done great again
  .github/workflows/default.yml
Labels: improvement, cicd

#74 fix: improve examples for select
  source/_patterns/01-elements/select/_select.hbs
  source/_patterns/01-elements/select/select-variations.json
  source/_patterns/01-elements/select/select-variations~optgroups.json
Labels: documentation, improvement, hacktoberfest

#104 chore: template simplification
  source/_patterns/02-components/table/table.hbs
Labels: improvement, patterns

#106 fix: cut off overflow-menu in table cells
  .github/workflows/default.yml
  source/_patterns/02-components/overflow-menu/overflow-menu.hbs
  source/_patterns/02-components/overflow-menu/overflow-menu.json
  source/_patterns/02-components/overflow-menu/overflow-menu~opposite-position.json
  source/_patterns/02-components/table/table.hbs
  source/_patterns/02-components/table/table.scss
  source/_patterns/02-components/table/table~overflow-menu.json
Labels: bug

#109 docs: further documentation on the SCSS load path
  docs/getStarted.adoc
  docs/migrationGuide.adoc
Labels: documentation, community feedback

#115 fix: icon rendering in DB UI Elements
  source/_patterns/00-base/icons/_icons.scss
  source/_patterns/00-base/icons/enterprise/icons.scss
Labels: bug, documentation, community feedback

#110 chore: aligned header background-colors
  source/_patterns/02-components/mainnavigation/_mainnavigation.variables.scss
  source/_patterns/02-components/mainnavigation/mainnavigation.scss
  source/_patterns/03-areas/00-header/_header.variables.scss
Labels: bug, community feedback, legacy relevant

#119 chore: updated dependency
  .github/workflows/00-scan-secrets.yml
Labels: cicd, dependencies

#120 refactor: adapted pipeline script parts
  .github/actions/extract-branch/action.yml
  .github/scripts/build-gh-page.sh
  .github/workflows/00-scan-secrets.yml
Labels: bug, cicd

#121 fix(pipeline): deploy step
  .github/scripts/build-gh-page.sh
Labels: bug, cicd

#127 fix: rendering of icons within DB UI Elements
  source/_patterns/00-base/icons/icons.scss
Labels: bug, documentation, community feedback
