Repository db-ui/core, pull requests merged in 2023-01, with the labels that each got.

#236 refactor: switched to new Marketingportal URLs
  README.md
  docs/adr/intro.adoc
  source/_patterns/00-base/colors/_colors.md
  source/_patterns/00-base/icons/_icons.font-faces.scss
  source/_patterns/00-base/icons/_icons.md
  source/_patterns/01-elements/headline/_headline.md
  source/_patterns/01-elements/logo/_logo.md
  source/_patterns/04-pages/intro.json
Labels: patterns

#259 refactor: markdownlint rules
  .markdown-lint.yml
  .mdlrc
  README.md
  source/_patterns/.mdlrc
  source/_patterns/00-global.md
  source/_patterns/01-elements/image/_image.md
  source/_patterns/01-elements/video/video.md
Labels: improvement, patterns, test

#89 refactor: guidelines 3.0 link style
  docs/migrationGuide.adoc
  source/_patterns/00-base/_init.scss
  source/_patterns/01-elements/link/_link.hbs
  source/_patterns/01-elements/link/_link.variables.scss
  source/_patterns/01-elements/link/enterprise/_link.variables.scss
  source/_patterns/01-elements/link/enterprise/link.scss
  source/_patterns/01-elements/link/link.scss
  source/_patterns/01-elements/link/links.hbs
  source/_patterns/01-elements/link/tonality.hbs
  source/css/enterprise/db-ui-core.scss
Labels: improvement, patterns

#254 refactor: optimized clean npm script
  package.json
Labels: improvement

#270 feat: added legal info
  README.md
  enterprise.patternlab-config.json
  source/_patterns/01-elements/link/_link.hbs
  source/_patterns/03-areas/03-footer/footer.json
  source/_patterns/04-pages/intro.json
Labels: improvement, patterns

#266 chore: adding URL to text
  README.md
Labels: improvement

#264 refactor: inlining external sources
  enterprise.patternlab-config.json
  package-lock.json
  package.json
  source/_patterns/04-pages/intro.hbs
Labels: improvement, patterns

#265 fix: illustrative icons URLs
  source/_patterns/00-base/icons/illustration-icons.json
Labels: bug, patterns
