Repository db-ui/core, pull requests merged in 2024-08, with the labels that each got.

#899 refactor: header styles to align with current design
  source/_data/enterprise/mainnavigation.json
  source/_patterns/01-elements/image/image.scss
  source/_patterns/02-components/brand/brand.scss
  source/_patterns/02-components/dropdown/dropdown.scss
  source/_patterns/02-components/language-switcher/_language-switcher.variables.scss
  source/_patterns/02-components/language-switcher/language-switcher.scss
  source/_patterns/02-components/mainnavigation/mainnavigation.scss
  source/_patterns/02-components/metanavigation/metanavigation.scss
  source/_patterns/02-components/overflow-menu/overflow-menu.scss
  source/_patterns/02-components/sitesearch/_sitesearch.hbs
  source/_patterns/02-components/sitesearch/_sitesearch.variables.scss
  source/_patterns/02-components/sitesearch/sitesearch.scss
  source/_patterns/03-areas/00-header/_header.variables.scss
  source/_patterns/03-areas/00-header/header.scss
  source/_patterns/03-areas/00-header/meta.scss
  source/css/helpers/_dividers.scss
Labels: improvement, patterns, visual breaking changes

#916 refactor: squash dependabot PRs
  .github/workflows/99-auto-merge.yml
Labels: improvement, cicd

#895 refactor(tabs): integrate v2 design
  source/_patterns/02-components/tab-bar/_tab-bar.md
  source/_patterns/02-components/tab-bar/_tab-bar.variables.scss
  source/_patterns/02-components/tab-bar/tab-bar.hbs
  source/_patterns/02-components/tab-bar/tab-bar.json
  source/_patterns/02-components/tab-bar/tab-bar.scss
  source/_patterns/02-components/tab-bar/tab-bar~item-icon.json
  source/_patterns/02-components/tab-bar/tab-bar~small-item-icon.json
  source/_patterns/02-components/tab-bar/tab-bar~small.json
Labels: documentation, improvement, patterns, community feedback, visual breaking changes

#890 fix(chips): use built-in radiogroup / checkbox behavior for a11y
  source/_patterns/01-elements/chips/_chip.hbs
  source/_patterns/01-elements/chips/_chip.json
  source/_patterns/01-elements/chips/chip.scss
Labels: bug, community feedback, changes needed

#924 refactor(headline): text wrap balance
  source/_patterns/01-elements/headline/headline.scss
Labels: improvement, patterns

#926 chore(docs): README update
  README.md
Labels: documentation

#929 fix: duplicated rem units
  source/_patterns/02-components/accordion/accordion.scss
Labels: bug, patterns, community feedback

#934 docs: added relevant comment
  source/_patterns/00-base/icons/_icons.helpers.scss
Labels: improvement, patterns

#936 refactor: using :user-*valid from now on
  source/_patterns/01-elements/_form-elements.scss
  source/_patterns/01-elements/input/_input.md
  source/_patterns/01-elements/input/input~invalid-attribute.md
  source/_patterns/01-elements/radio/_radio.md
  source/_patterns/01-elements/radio/radio.scss
  source/_patterns/01-elements/select/_select.md
  source/_patterns/01-elements/select/select~invalid-attribute.md
  source/_patterns/01-elements/textarea/_textarea.md
  source/_patterns/01-elements/textarea/textarea~invalid-attribute.md
  source/_patterns/02-components/form/_form.md
Labels: documentation, improvement, patterns

#942 fix(breadcrumb): different font-sizes
  source/_patterns/02-components/breadcrumb/breadcrumb.scss
Labels: patterns, community feedback
