Repository db-ui/core, pull requests merged in 2024-01, with the labels that each got.

#658 refactor: added missing prettification
  .lintstagedrc
Labels: improvement

#675 refactor: updated to Node version 20
  .github/actions/npm-cache/action.yml
  .nvmrc
Labels: improvement, cicd

#691 fix(chips & tags): missing default:light variant
  source/_patterns/01-elements/chips/chip.scss
  source/_patterns/01-elements/chips/chips.json
  source/_patterns/01-elements/tags/tag.scss
  source/_patterns/01-elements/tags/tags.json
Labels: bug, patterns

#705 refactor: updated year
  README.md
  source/_patterns/03-areas/03-footer/footer.hbs
Labels: improvement, patterns

#719 docs(sidenavi): publish sidenavi docs
  .pa11yci
  source/_patterns/02-components/sidenavi/_sidenavi.md
  source/_patterns/02-components/sidenavi/sidenavi.hbs
  tests/backstop.json
Labels: documentation, improvement

#718 docs(tab-bar): publish tab bar docs
  .pa11yci
  source/_patterns/02-components/tab-bar/_tab-bar.md
  source/_patterns/02-components/tab-bar/tab-bar.hbs
  tests/backstop.json
Labels: documentation, improvement

#709 refactor: simplification
  source/_patterns/00-base/icons/_icons.helpers.scss
Labels: improvement, patterns
